@import '../../styles/variables.css';

.myname {
  color: var(--darkGrey);
  flex-grow: 1;
  font-weight:bold;
  padding-right:20px;
  font-size: 4em;
}

.desc{
  padding-top:20px;
  color: var(--bbBlue);
  font-size: 1em;
  margin-right:0;
}

@media only screen and (max-width: 768px) {

  .myname {
    font-size: 3em;
  }

  .desc{
    font-size: 1em;
    line-height: 96%;
    padding-bottom:10px;
    margin-right:-40px;
  }


}


